main {
    height: 500px;
    background-image: url(https://images.unsplash.com/photo-1661956600684-97d3a4320e45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwzMXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80);
    width: 100vw;
    max-width: 1150px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #BBD6B8;
    background-size: cover;
}

body {
    background-color: #9aadeb;
}

header {
    height: 70px;
    width: 100vw;
    max-width: 1150px;
    border: 2px solid #BBD6B8;
    background-color: #ECF2FF;
    margin: 10px auto;
    border-radius: 10px;
}

h1 {
    color: #FFB84C;
    letter-spacing: 5px;
    padding: 50px 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #E7B10A;
}

li {
    display: inline;
    margin-left: 120px;
}

a:hover {
    color: #62CDFF;
}

li.active a {
    color: #62CDFF;
}

.nav-profile-icon {
    color: #E7B10A;
    font-size: 24px;
    cursor: pointer;
}

.nav-profile-icon:hover {
    color: #62CDFF;
}

.row-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

.row>.col {
    flex: 0 0 360px;
    margin: 10px;
    background-color: #F8F6F4;
    border-radius: 10px;
    border: 2px solid #BBD6B8;
}

footer {
    margin: 0 auto;
    background-color: #ECF2FF;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #BBD6B8;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-item {
    flex: 0 0 300px;
    margin: 10px;
    padding: 20px;
    background-color: #F8F6F4;
    border-radius: 10px;
    border: 2px solid #BBD6B8;
}

.news-item:hover {
    transform: scale(1.01);
}

.news-title {
    font-weight: bold;
    color: #FFB84C;
}

.news-date {
    color: #E7B10A;
}

.news-content {
    margin-top: 10px;
}